.mdl-layout {
    background-color: #eee;
}

.mdl-layout__header-row {
    position: relative;
}

/* Google Profile */
#google-profile {
    position: absolute;
    left: 72px;
    width: 40px;
}

#google-profile img {
    border-radius: 50%;
    width: 100%;
    cursor: pointer;
}

#google-profile-inner {
    position: absolute;
    padding: 24px 16px 16px;
    z-index: -1;
}

#google-profile:hover #google-profile-inner {
    display: block !important;
}

.mdl-card {
    min-height: 0;
}

.content-section {
    margin: 0 auto 16px;
    max-width: 460px;
    width: 100%;
    padding: 74px 16px 72px;
    position: relative;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    box-sizing: border-box;
}

#items {
    padding: 0 16px 8px;
}

#login {
    padding: 70px 16px 16px;
}

#items .section-header {
    position: relative;
}

.content-section.static {
    top: 16px;
    margin-bottom: 16px;
    transform: translateX(-50%);
}

#add-item.quick-entry-mode {
    max-height: 200px !important;
    padding-bottom: 72px;
}

#add-item.quick-entry-mode.hide-items form > *:not(.show-quick-entry) {
    display: none;
}

.mdl-layout__header .mdl-layout-title {
    margin-left: 56px;
}

.mdl-layout__drawer>.mdl-layout-title, .mdl-layout__drawer>.mdl-layout__title {
    padding-left: 16px;
}

.mdl-navigation__link.active {
    background-color: rgba(0, 0, 0, 0.2);
}

.section-header {
    position: absolute;
    top: 0;
    left: 0;
    height: 56px;
    width: 100%;
    padding-left: 16px;
    color: #fff;
    box-sizing: border-box;
}

.section-header h1 {
    margin: 0;
}

.form-item {
    display: block;
    width: 100%;
    margin-top: 8px;
}

button.form-item {
    width: inherit;
}

#title-field {
    margin-top: 0;
}

.category-item input {
    position: absolute;
    left: -10000px;
}

.category-item label {
    display: block;
}

.category-item input:checked + label {
    font-weight: 600;
}

#location {
    display: flex;
    position: relative;
}

#location-fields {
    flex: 5;
    display: flex;
}

#lat-field, #lng-field {
    flex: 1;
}

#lat-field {
    margin-right: 8px;
}

#location-controls {
    flex: 1;
    height: 32px;
    margin-top: 40px;
    color: rgba(0, 0, 0, 0.7);
    min-width: 70px;
}

.location-control.selected {
    color: rgba(6, 11, 255, 0.7);
}

.location-control.searching {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0.0; }
}

#location-map {
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
}

#location-map #map {
    width: 100%;
    height: 200px;
}

#submit-entry {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.valign {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.centerab {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    display: block;
}

/* ENTRY */
.content-section.concept-mode .entry-card:not(.concept-card) {
    transform: translateX(100%);
    opacity: 0;
}

.content-section.concept-mode.hide-items .entry-card:not(.concept-card) {
    max-height: 0 !important;
}

.content-section.concept-mode.hidden-items .entry-card:not(.concept-card) {
    display: none;
}

.entry-card {
    margin-top: 8px;
    width: 100%;
    transition: max-height 0.2s ease-in-out, all 0.3s ease-in-out;
    opacity: 1;
}

.entry-card-header {
    padding: 16px;
    height: 28px;
    position: relative;
    cursor: pointer;
}

.entry-card-header h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    line-height: 1.2em;
    width: 47%;
}

.entry-card-header .concept-icon {
    position: absolute;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.7);
}

.entry-card-header .entry-date {
    font-style: italic;
    position: absolute;
    right: 75px;
    font-size: 14px;
}

.entry-card-header .form-container {
    position: absolute;
    right: 0;
}

.entry-card-header form {
    display: inline;
}

.entry-control {
    color: rgba(0, 0, 0, 0.7);
}

.entry-card-content {
    padding: 16px 16px 0;
}

.entry-section-heading {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 0;
    line-height: 1.5em;
}

div:first-child .entry-section-heading {
    margin-top: 0;
}

.entry-location {
    position: relative;
    margin-top: 8px;
}

.entry-location img {
    width: 100%;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: inset 0 11px 8px -10px #CCC, inset 0 -11px 8px -10px #CCC;
}

footer {
    position: fixed;
    left: 8px;
    bottom: 8px;
    z-index: 5;
}

/* SWITCH */
.header-switch {
    right: 0;
    position: absolute;
    width: 170px;
}

.concept-switch {
    width: 150px;
}

.mdl-switch.is-checked .mdl-switch__track {
    background: rgba(255, 255, 255, .5);
}

.mdl-switch__thumb {
    background: rgba(190, 190, 210, 1);
}

.mdl-switch.is-checked .mdl-switch__thumb {
    background: rgb(255, 255, 255);
}

.mdl-switch.is-focused.is-checked .mdl-switch__focus-helper {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, .26);
    background-color: rgba(255, 255, 255, .26);
}

.mdl-switch__ripple-container .mdl-ripple {
    background: rgb(255, 255, 255);
}

@media all and (max-width: 460px) {
    .page-content {
        position: relative;
    }

    .header-section-header {
        display: block !important;
        position: relative;
    }

    .content-section {
        width: 100% !important;
        transform: none !important;
        top: 0 !important;
        left: 0 !important;
        margin: 0 !important;
        border-radius: 0;
        padding: 8px 8px 80px !important;
        position: relative;
    }

    #add-item {
        padding-top: 16px;
    }

    .section-header {
        display: none;
    }

    .entry-card-header h2 {
        font-size: 16px;
        width: 40%;
    }

    #submit-entry {
        bottom: 32px;
    }
    
    footer {
        position: absolute;
        text-align: center;
        width: 90%;
        box-sizing: border-box;
    }
}
