.mdl-layout {
    background-color: #eee;
}

.page-content {
    padding: 0 16px;
}

.mdl-card {
    min-height: 0;
}

.content-section {
    margin: 0 auto 16px;
    max-width: 460px;
    width: 100%;
    padding: 74px 16px 40px;
    position: relative;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

#items {
    padding: 28px 16px;
}

#items .section-header {
    position: relative;
}

#add-item.static {
    top: 16px;
    margin-bottom: 16px;
    transform: translateX(-50%);
}

#add-item.quick-entry-mode {
    max-height: 190px !important;
}

#add-item.quick-entry-mode.hide-items form > *:not(.show-quick-entry) {
    display: none;
}

.section-header {
    position: absolute;
    top: 0;
    left: 0;
    height: 56px;
    width: 100%;
    padding-left: 16px;
    color: #fff;
    box-sizing: border-box;
}

.section-header h1 {
    margin: 0;
}

.form-item {
    display: block;
    width: 100%;
    margin-top: 8px;
}

button.form-item {
    width: inherit;
}

.valign {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.centerab {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    display: block;
}

.category-item input {
    position: absolute;
    left: -10000px;
}

.category-item label {
    display: block;
}

.category-item input:checked + label {
    font-weight: 600;
}

#submit-entry {
    position: absolute;
    bottom: 8px;
}

/* ENTRY */
.entry-card {
    margin-top: 8px;
    width: 100%;
}

.entry-card-header {
    padding: 16px;
    height: 28px;
    position: relative;
}

.entry-card-header h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    line-height: 1.2em;
    width: 50%;
}

.entry-card-header .entry-date {
    font-style: italic;
    position: absolute;
    right: 75px;
    font-size: 14px;
}

.entry-card-header .form-container {
    position: absolute;
    right: 0;
}

.entry-card-header form {
    display: inline;
}

/* SWITCH */
.header-switch {
    right: 0;
    position: absolute;
    width: 170px;
}

.concept-switch {
    width: 150px;
}

.mdl-switch.is-checked .mdl-switch__track {
    background: rgba(255, 255, 255, .5);
}

.mdl-switch__thumb {
    background: rgba(190, 190, 210, 1);
}

.mdl-switch.is-checked .mdl-switch__thumb {
    background: rgb(255, 255, 255);
}

.mdl-switch.is-focused.is-checked .mdl-switch__focus-helper {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, .26);
    background-color: rgba(255, 255, 255, .26);
}

.mdl-switch__ripple-container .mdl-ripple {
    background: rgb(255, 255, 255);
}

@media all and (max-width: 460px) {
    .header-section-header {
        display: block !important;
        position: relative;
    }

    .content-section {
        width: 100% !important;
        top: 0 !important;
        margin: 0 !important;
        border-radius: 0;
    }

    #add-item {
        padding-top: 16px;
    }

    .section-header {
        display: none;
    }

    .content-section {
        width: 100% !important;
        transform: none !important;
        top: 0 !important;
        left: 0 !important;
    }
}
